h1, #body {
  background-color: #DD8344;
}

h1 {
  text-align: center;
}

li {
  height: 1.5em;
}

img {
  height: 50px;
}

/*  Adapted the following CSS Code from
https://matthewjamestaylor.com/bottom-footer
*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #99460C;
  min-height: 100%;
  position: relative;
}

#header {
  padding: 10px;
}

#body {
  padding: 10px;
  padding-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #D64250;
}

/* End of bottom-footer
*/
