body {
  margin-top: 60px;
  background-color: black;
  color: #A38B63;
}

footer, blockquote {
  background-color: black;
  color: #CAC2A8;

}

#title {
  background-color: black;
  color: #E8BA7F;
  text-align: center;
}
.container {
  background-color: red;
  color: #A38B63;
}

.row {
  background-color: red;
  color: white;
}

#image {
  max-width: 50%;
  display: block;
  height: auto;
  margin: auto;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.league,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

.text-center{
text-align: center;
}

#submit {
  background-color: #A38B63;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
  text-align: center;
  display: inline-block;
}

.wrapper {
  text-align: center;
}  

a{
    color: #A38B63;
}

#description{
    font-size: 1.5em
}
