   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }

#navbar{
  position:fixed;
  min-width:290px;
  top:0px;
  left:0px;
  width:300px;
  height:100%;
  border-right:solid;
}

#navbar header{
  font-size: 2rem;
  text-align: left;
}

li a.nav-link{
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bold;
}

#main-doc{
  position: absolute;
  margin-left:310px;
  padding:20px;
  margin-bottom:110px;
}

footer{
  position: fixed; 
  bottom: 0;
  z-index: 1;
  margin-left:300px;
  background-color: darkblue;
  width: 100%;
}	

footer p, footer a{ 
  color:white;
  width: 100%;
}

  body{
    background-color: #838eaf;
  }

  header{
    font-size: 2rem;
    text-align: center;
  }

  .main-section{
    border: 2px solid black;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

code{
  padding-left: 30px;
  white-space: pre-wrap; 
  font-family: monospace;
}

p{
  margin-top: 0.5em;
}

@media screen and (max-width: 600px) {
  #navbar{
    min-width:150px;
    top:0px;
    left:0px;
    width:150px;
    height:100%;
    border-right:solid;
  }

  #main-doc{
    position: absolute;
    margin-left:150px;
    padding:20px;
    margin-bottom:110px;
    z-index: 0;
    width: 80%;
  }

  footer{
    position: fixed; 
    bottom: 0;
    z-index: 1;
    margin-left:150px;
    background-color: darkblue;
    width: 100%;
  }	  

  li a.nav-link{
    line-height: 2em;
    font-size: 1.2em;
    font-weight: bold;
  }

  #navbar header{
    font-size: 0.8rem;
    text-align: left;
  }
} 