body {
  margin-top: 60px;
  background-color: blue;
}
footer, blockquote{
  background-color: yellow;
    color:black;
}
.container {
  background-color: red;
}
.row {
  background-color: red;
  color: white;
}

#image {
  max-width: 50%;
  display: block;
  height: auto;
  margin: auto;
}
